h1 {
    background-color: inherit;
    color: var(--text-color);
    text-align: center;
}

h1#welcome-title {
    margin-top: 12%;
    margin-bottom: 0;
    font-size: 5.5rem;
}

h1#welcome-subtitle {
    margin-top: 0.2%;
    font-size: 3rem;
}

h1#projects-title {
    margin-top: 8%;
    font-size: 3rem;
}

div#projects-container {
    width: 100%;
    height: 30%;
    margin-top: 0.5%;
}

div.project-row {
    width: 100%;
    height: 100%;
    margin-bottom: 2.5%;
    padding-left: 2.5%;
    gap: 2.5%;
    justify-content: left;
    display: flex;
}

a.project-tile {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: var(--third-color);
    border-radius: 10px;
}