nav {
    top: 0;
    left: 0;
    position: fixed;

    height: 60px;
    width: 100%;

    display: flex;

    background-color: var(--navbar-color);
    color: var(--text-color);

    font-size: 1.85rem;
}

nav div.spacer {
    display: flex;
    flex: 1;
}

nav a.title {
    height: inherit;
    max-width: 150px;

    margin-left: 20px;
    margin-right: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: inherit;
    color: inherit;

    text-decoration: none;
}

nav a.button {
    height: inherit;
    width: 120px;
    max-width: 120px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: inherit;
    color: inherit;

    transition-duration: 0.2s;

    text-decoration: none;
}

nav a.button:hover {
    transition-duration: 0.2s;
    background-color: var(--second-color);
}